.organization-container {
  display: flex;
  height: 100vh; 
}

.organization-content {
  flex: 1;
  overflow: auto; 
  padding: 20px; 

  @media (max-width: 768px) {
    padding: 10px; 
  }
}



.input-box-container {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
}

